body{
	font-family: cursive;
}
.parent{
	display:flex;
	justify-content:center;
	align-items:center;
}
img{
	margin-left:25%;
	margin-top:15%;
	margin-right:5%;
	width:200px;
}
section{
	width:30%;
	margin:10% 1%;
}

#hel{
	font-weight:bold;
	font-size:200%;
	color:#434343;
}
p{
	color:#434343;
	margin-top:5%;
	margin-bottom:8%;
}
a{
	color:#f1f2f4;
	background-color:#434343;
	text-decoration:none;
	padding:5px 10px 5px 10px;
	margin-right:20px;
	border: 0.2px solid #434343;
	border-radius: 20px;
}
a:hover{
	color:#666666;
	background-color:#fcfcfc;
}
