body{
	background-image: url("../img/resumebg.jpg");
	background-repeat: no-repeat;
	background-atachment:fixed;
	background-position:center;
	font-family: cursive, serif;
	color:#434343;
	padding-top:5%;
}
.parent{
	display:flex;
	justify-content:center;
	align-items:center;
}
section{
	width:25%;
	display:inline-block;
	border-left: .8px solid #434343;
}
#aboutme{
	width:45%;
	margin-top:2%;
	border:none;
}
#education{

}
#experience1{
	margin-top:2%;
}
#experience2{
	margin-top:15%;
}
h3{
	text-align:center;
	font-size:150%;
}
.title{
	color:#434343;
	font-weight:bold;
	padding:0 10% 0 10%;
	font-size:100%;
}
p{
	color:#696969;
	font-size:85%;
	margin-top:1%;
	padding:0 15% 0 15%;
}
a{
	display:block;
	width:60px;
	text-align:center;
	color:#f1f2f4;
	background-color:#434343;
	text-decoration:none;
	margin-top:3%;
	padding:5px 10px 5px 10px;
	border: 0.2px solid #434343;
	border-radius: 20px;
}
a:hover{
	color:#666666;
	background-color:#fcfcfc;
}
